:root {
  --greycolor: rgba(0, 0, 0, 0.2);
}
* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
html,
body {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  display: grid;
  grid-template-rows: 1fr 3fr 0.5fr;
  height: 100vh;
  background-color: var(--greycolor);
}

.header {
  margin-top: 20px;
  padding: 0 30px;
  align-items: center;
  display: flex;
}
.header .header__menu-icon {
  margin-right: 20px;
  fill: rgba(0, 0, 0, 0.6);
}
.header .header__title {
  font-weight: bold;
  font-size: 30px;
}

.portfolio {
  display: grid;
  grid-gap: 34px;
  grid-auto-flow: column;
  grid-template-columns: minmax(250px, 1fr);
  overflow: scroll;
  grid-auto-columns: minmax(250px, 1fr);
  grid-template-rows: 50vh;
  grid-auto-rows: 55vh;
  padding-left: 40px;
  padding-bottom: 20px;
  align-self: center;
}
.item__info .item__title {
  font-size: 25px;
  margin-bottom: 10px;
}
.item__info .item__subtitle {
  font-size: 10px;
  color: var(--greycolor);
}
.portfolio::-webkit-scrollbar {
  display: none;
}
.portfolio .portfolio__item {
  background-position: 25% 75%;
  height: 200;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.portfolio .portfolio__item:nth-child(1) {
  background-image: url(https://i.pinimg.com/564x/bd/d7/21/bdd7210ab07152a375e7591a75d5ab65.jpg);
}
.portfolio .portfolio__item:nth-child(2) {
  background-image: url(https://i.pinimg.com/564x/e0/56/6d/e0566d37e574182d21461e63826fcb6b.jpg);
}
.portfolio .portfolio__item:nth-child(3) {
  background-image: url(https://i.pinimg.com/564x/48/13/be/4813be35fb60c70a91296e795e39faf4.jpg);
}
.portfolio .portfolio__item:nth-child(4) {
  background-image: url(https://i.pinimg.com/564x/5a/bd/d9/5abdd9d16bc146dad019151459c512fa.jpg);
}
.portfolio .portfolio__item:nth-child(5) {
  background-image: url(https://i.pinimg.com/564x/e0/7d/5b/e07d5b573835f24fb1d40763194535e2.jpg);
}
.portfolio .item__info {
  background-color: white;
  padding: 20px 40px;
  width: 100vh;
  text-align: center;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: white;
  height: 10vh;
  bottom: 0;
}

.navigation .navigation__list {
  color: var(--greycolor);
  list-style: none;
  display: grid;
  margin: 0;
  padding: 0;
  grid-auto-flow: column;
  grid-gap: 20px;
}
.navigation__icons .navigation__icon {
  fill: var(--greycolor);
  padding: 0 10px;
}
.navigation__icons .navigation__icon:first-child {
  padding-left: 0;
}

.navigation .navigation__item:first-child {
  color: black;
}
