:root {
  --gridGap: 20px;
  --borderBottom: 2px solid rgba(0, 0, 0, 0.7);
}
* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
html.body {
  margin: 0;
  border: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
.body__div {
  padding: 20px;
  display: grid;
  grid-template-areas:
    "header header header"
    "main main main"
    "main main main";
}
/* header */
.header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  height: 200px;
}
/* header__option */
.header .header__title .header__title-top {
  display: block;
}
.header .header__subtitle {
  text-align: right;
  text-transform: uppercase;
}
.header .header__subtitle .header__subtitle-top {
  display: block;
}
/* main__left side */
.content {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: var(--gridGap);
}
.content .box__title {
  border-bottom: var(--borderBottom);
}

.content .content__sidebar {
}
/* main__right side */

.box .grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: var(--gridGap);
}
.box .grid .project {
  border-bottom: var(--borderBottom);
}
